.App {
  text-align: center;
}

.text{
  border: black 1px solid;
  background-color: white;
}

body{
  background-color: #add5ff !important;
  font-size:x-large !important;
}

.mid{
  align-items: center;
  text-align: center;
}

.input{
  margin-top: 5%;
  font-size: x-large;
  width: 40%;
}

.timer{
  border: black 1px solid;
  background-color: white;
  font-size: x-large;
}

.gray{
  background-color: gray;
}

.green{
  color: green;
}

.red{
  color: red;
}

body{
  height: 100vh;
  margin: 0;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15% !important;
}

.header{
  font-size: 50px;
}